<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="jumbotron" style="background-color:#4682B4 !important;">
    <h1 class="text-center">Welcome to Place Recommender</h1>
    <p class="text-center">Please Register Below</p>
</div>
<div class="container">
<form method="post" action="/registerUser">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" required placeholder="Enter Name" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email Id:</label>
        <input type="text" id="email" required placeholder="Enter email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" required placeholder="Enter Password" name="password" class="form-control">
    </div>
    <input type="submit" value="Register" class="btn btn-default">

</form>
</div>
</body>
</html>